<!doctype html>
<html class="is-preload">

{% include google-analytics.html %}
{% include head.html %}

<body class="is-preload">

    {% include header.html %}
    <div id="wrapper">
        <section class="intro">
            <header>
              <h1>HI</h1>
              <h3>I'm Jiahui</h3>
              <h3>You found me!</h3>
              <ul class="actions">
                <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
              </ul>
            </header>
            <div class="content">
              <span class="image fill" data-position="center"><img src="{{ site.github.url }}/assets/img/yahaha-1.jpg" alt="" /></span>
            </div>
          </section>
          			
					<section id="first">
            <header>
              <h2>A little about ME</h2>
            </header>
            <div class="content">
              <h3>Hacker, Doodler, Lemon tea lover. Always intern for life.</h3>
              <h3>Engineering @ AWS. </h3>
              <h4>Once random walking @ ZJU, @ Georgia Tech.</h4>
              <span class="image main"><img src="{{ site.github.url }}/assets/img/nyc-1.jpg" alt="" /></span>
            </div>
          </section>
          

          <section>
            <header>
            </header>
            <div class="content">
              <span class="image main">
                <img src="{{ site.github.url }}/assets/img/face-1.jpg" alt="" />
              </span>
            </div>
          </section>

          <section>
            <header>
              <h2>Blog</h2>
            </header>
            <div class="content">
              {% for post in site.categories.blog %}
              <a href="{{ site.github.url }}{{ post.url }}">
                <h4><span>- {{ post.title }}</span></h4>
              </a>
              {% endfor %}
            </div>
          </section>

          <!-- <section>
            <header>
              <h2> </h2>
            </header>
            <div class="content">
              <p><strong></strong></p>
              <span class="image main"><img src="images/pic02.jpg" alt="" /></span>
            </div>
          </section> -->
    </div>
    <!-- {% include footer.html %} -->

  <!-- Scripts -->
  <script src="{{ site.github.url }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.github.url }}/assets/js/jquery.scrolly.min.js"></script>
  <script src="{{ site.github.url }}/assets/js/browser.min.js"></script>
  <script src="{{ site.github.url }}/assets/js/breakpoints.min.js"></script>
  <script src="{{ site.github.url }}/assets/js/util.js"></script>
  <script src="{{ site.github.url }}/assets/js/main.js"></script>
</body>
</html>



