<!DOCTYPE HTML>
<html>
  {% include google-analytics.html %}
	<head>
		<title>Jiahui Bao</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="{{ site.github.url }}/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<header id="header" class="alt style5">
							<a href="{{ site.github.url }}/index.html" class="logo"><strong>Jiahui</strong> <span>Bao</span></a>
						</header>
						<!-- One -->
						<section id="one" class="tiles">
							<article>
								<span class="image">
								</span>
								<header class="major">
									<h3>Jiahui Bao</h3>
									<p></p>
								</header>
							</article>
							<article>
								<span class="image">
									<!-- <img src="images/face-1.jpg" alt="" /> -->
								</span>
								<header class="major">
									<p>Building stuffs and random walking. </p>
									<p>currently eng@AWS</p>
									<p>prev @Gatech, ZJU</p>
								</header>
							</article>
							<article>
								<span class="image">
									<img src="{{ site.github.url }}/assets/img//face-1.jpg" alt="" />
								</span>
								<header class="major">
									<h3><a href="{{ site.github.url }}/pages/posts.html" class="link">Posts</a></h3>
									<p>I occasionally write on [\p{L}\p{M}]*.</p>
								</header>
							</article>
							<article>
								<span class="image">
									<!-- <img src="images/pic04.jpg" alt="" /> -->
								</span>
							</article>
						</section>
					</div>

          {% include footer.html %}
			</div>

		<!-- Scripts -->
			<script src="{{ site.github.url }}/assets/js/jquery.min.js"></script>
			<script src="{{ site.github.url }}/assets/js/jquery.scrolly.min.js"></script>
			<script src="{{ site.github.url }}/assets/js/jquery.scrollex.min.js"></script>
			<script src="{{ site.github.url }}/assets/js/browser.min.js"></script>
			<script src="{{ site.github.url }}/assets/js/breakpoints.min.js"></script>
			<script src="{{ site.github.url }}/assets/js/util.js"></script>
			<script src="{{ site.github.url }}/assets/js/main.js"></script>

	</body>
</html>
