<!doctype html>
<html class="is-preload">

{% include head.html %}

<body class="is-preload">

    {% include header.html %}
    <div id="wrapper">
        <section class="intro">
            <header>
              <h1>HI</h1>
              <h3>I'm Jiahui</h3>
              <h4>I'm Jiahui</h4>
              <p>I'm Jiahui?</p>
              <ul class="actions">
                <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
              </ul>
            </header>
            <div class="content">
              <span class="image fill" data-position="center"><img src="{{ site.github.url }}/assets/img/yahaha-1.jpg" alt="" /></span>
            </div>
          </section>
          			
					<section id="first">
            <header>
              <h2>A little about ME</h2>
            </header>
            <div class="content">
              <h3>An engineer</h3>
              <h3>A doodler</h3>
              <h3>A lemon lover</h3>
              <h3>and always a student</h3>
              <span class="image main"><img src="{{ site.github.url }}/assets/img/nyc-1.jpg" alt="" /></span>
            </div>
          </section>
          			
					<section>
            <header>
              <h2>blah blah</h2>
            </header>
            <div class="content">
              <p><strong></strong>blah blah</p>
              <!-- <span class="image main"><img src="images/pic02.jpg" alt="" /></span> -->
            </div>
          </section>

          <section>
            <header>
              <h2> </h2>
            </header>
            <div class="content">
              <p><strong></strong></p>
              <!-- <span class="image main"><img src="images/pic02.jpg" alt="" /></span> -->
            </div>
          </section>
    </div>
    {% include footer.html %}

  <!-- Scripts -->
  <script src="{{ site.github.url }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.github.url }}/assets/js/jquery.scrolly.min.js"></script>
  <script src="{{ site.github.url }}/assets/js/browser.min.js"></script>
  <script src="{{ site.github.url }}/assets/js/breakpoints.min.js"></script>
  <script src="{{ site.github.url }}/assets/js/util.js"></script>
  <script src="{{ site.github.url }}/assets/js/main.js"></script>
</body>
</html>



