---
layout: default
---
<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <!-- Note: The "styleN" class below should match that of the banner element. -->
  {% include header.html %}

  <!-- Banner -->
  <!-- Note: The "styleN" class below should match that of the header element. -->
    <section id="banner" class="style5">
      <div class="inner">
        {% if page.image %}
          <span class="image">
            <img src="{{ site.github.url }}/assets/img/{{ page.image }}" alt="" />
          </span>
        {% endif %}
        <header>
          <h1>{{ page.title }}</h1>
        </header>
        <div>
        </div>
      </div>
    </section>

    <!-- Main -->
    <div id="main">
        <section id="three">
          <div class="post-container inner">
            {{ content }}
            
          </div>
        </section>
    </div>
  <!-- Footer -->
  {% include footer.html %}

</div>
